<section>
    <div class="w-full  bg-kleistBlauGreen">
        <div class="container flex flex-col lg:flex-row items-center mx-auto p-6">
            <img class="rounded-full border-4 border-kleistBlauComplementRotbraun shadow-lg"
                src="/static/img/kleist-kopf-quadr.png" alt="kleist-porträt">
            <p class="p-6 text-lg text-white">
                {% if infobausteine.bereiche %}
                {% for item in infobausteine.bereiche %}
                {% if item.info == 'hvkg-about' %}
                {{ item.text }}
                {% endif %}
                {% endfor %}
                {% endif %}
            </p>
            <!-- <p>
                {% for info in collections.infos %}
                {% if info.data.bereich == "hvkg-about" %}
                {{ info.templateContent | safe }}
                {% endif %}
                {% endfor %}
            </p> -->
        </div>
    </div>
</section>