{% set title = "Kleist-Preis" %}

{% extends "default.html" %}
{% block content %}

<div class="container flex flex-row mx-auto p-6 lg:max-w-4xl ">
    <div class="flex-col">
        <article
            class="prose lg:prose-lg prose-h3:text-kleistBlauGreen prose-h3:pt-6 prose-p:font-serif prose-p:leading-normal prose-img:rounded-xl my-4 mr-12">
            {{ content | safe }}</article>
    </div>

    <aside class=" hidden lg:block mt-12">
        <img class="lg:w-48 lg:pb-12" src="/static/img/logos/logo-kleist-preis-crop.png" alt="logo kleist-preis">
        <h3 class=" font-bold mb-4">
            Reden zur Preisverleihung
        </h3>
        <ul class="list-none hover:list-disc">
            {% set postslist = collections.preis %}

            {% for post in postslist | reverse %}
            <li class="text-base text-gray-500 hover:text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.listtitle %}
                    {{ post.data.listtitle }}
                    {% else %}
                    Untitled
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>

</div>

{% endblock %}