{% extends "default.html" %}
{% block content %}

<div class="container flex flex-col-reverse lg:flex-row mx-auto px-6 lg:px-0 lg:gap-32 ">
    <!-- Hier wird der Markdown-Content gerendert-->
    <div
        class="lg:w-2/3 prose lg:prose-xl prose-h2:text-3xl prose-h2:text-kleistBlauGreen prose-h3:text-kleistBlauGreen prose-h3:pt-6 prose-p:font-serif prose-li:font-sans prose-p:leading-normal prose-tr:text-left prose-li:list-disc prose-img:rounded-xl my-12">
        {{ content | safe }}

        {% block attached %} {% endblock %}
    </div>

    {% block aside %} {% endblock %}

</div>

{% endblock %}