{% set title = "Heinrich-von-Kleist-Gesellschaft Veranstaltungen" %}

{% extends "md.html" %}

<!-- Hier wird die Seitennavigation eingefügt -->

{% block aside %}

{% if eventtyp == "Online-Vortrag" %}
{% include "../_includes/partials/vortragsreihe.html" %}
{% elif eventtyp == "Internationale Jahrestagung" %}
<div>
    {% include "../_includes/partials/jahrestagung.html" %}
    {% include "../_includes/jahrestagungen-past.html" %}
</div>
{% elif eventtyp == "Kleist-Preis" %}
{% include "../_includes/partials/info-kleistpreis.html" %}
{% endif %}

{% endblock %}