---
layout: kleist-preis
---
{% set title = "Kleist-Preis" %}

<div class="mt-12">
    <h1 class=" text-4xl text-gray-800 font-bold">Reden und Berichte anlässlich der
        <br />Kleist-Preis Verleihungen
    </h1>
    {% set postslist = collections.preis %}

    {% for year, yearPosts in collections.postsByYear %}
    <h2 class="mt-16 font-bold text-3xl text-kleistBlauGreen mb-2">Kleist-Preis {{ year }}</h2>
    <ul>
        {% for post in yearPosts %}
        {%if post.data.tags == "preis"%}
        <li>
            <h3 class="font-bold text-xl text-gray-800 mb-1"><a href="{{ post.url | url }}">{{ post.data.title
                    }}</a>
            </h3>
            {% if post.data.description %}
            <p class="text-lg text-gray-500 mb-3">
                {{ post.data.description }} <span><a href="{{ post.url | url }}"
                        class="ml-4 text-kleistBlauGreen font-bold text-sm">
                        Weiter lesen  →
                    </a></span>
            </p>
            {% endif %}
        </li>

        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
</div>