{% extends "default.html" %}
{% block content %}

<div class=" flex flex-col">
  <!-- <div class="w-full bg-kleistBlauGreen">
    <div class="container mx-auto">
      <h1 class="ml-4 lg:ml-0 pt-1 pb-1 text-2xl font-bold text-white">AKTUELLES</h1>
    </div>
  </div> -->

  <section>
    <div class="container mx-auto mt-6 flex flex-col lg:flex-row flex-wrap gap-4 xl:gap-8">

      <div class="mx-auto"><a href="beitritt"><img class="hidden lg:block" src="/static/img/logos/logo-mitglied.png"
            alt="Werden Sie Mitglied der Heinrich-von-Kleist-Gesellschaft"><img class="px-6 lg:hidden"
            src="/static/img/logos/logo-mitglied-2zeilig.png"
            alt="Werden Sie Mitglied der Heinrich-von-Kleist-Gesellschaft"></a>
      </div>

      {% if aufmacher.heros %}

      {% for item in aufmacher.heros %}
      {% if item.spalten == 1 %}
      <div
        class="w-auto flex flex-col lg:flex-row rounded border-gray-200 lg:hover:bg-gray-200 bg-gray-100 p-6 ml-4 mr-4 mb-6 lg:ml-0 lg:mr-2">
        <div class=" min-w-[300px]">
          <a href="{{item.url}}">
            <h4 class=" text-lg font-sans font-bold uppercase text-kleistBlauGreen">{{item.rubrik}}</h4>
            {% if item.bild %}
            <img class="mb-2 p-2 rounded-lg shadow-md hover:shadow-lg bg-white" src="{{item.bild}}" alt="" />
            {% endif %}
            {% if item.bildunterschrift %}
            <p class="text-xs mb-2">{{item.bildunterschrift}}</p>
            {% endif %}
          </a>
        </div>
        <div class="w-auto lg:ml-6 lg:mt-2 mr-6">
          {% if item.bild2 %}
          <div class="md:grid gap-8 md:grid-cols-[28%_68%] lg:flex lg:flex-col lg:gap-0">
            <img class=" lg:w-48" src="{{item.bild2}}" alt="logo kleist-preis">
            <div class="">
              <h3 class="mt-4 mb-2 font-serif text-3xl">{{item.titel}}</h3>
              <p class="">{{item.text}}</p>
              <p class="text-kleistBlauGreen mt-2"><a href="{{item.url}}">Weiter lesen →</a></p>
            </div>
          </div>
          {% else %}
          <div class="">
            {% if item.bild2 %}
            <img class=" lg:w-48" src="{{item.bild2}}" alt="logo kleist-preis">
            {% endif %}
            <div class="">
              <h3 class="mt-4 mb-2 font-serif text-3xl">{{item.titel}}</h3>
              <p class="">{{item.text}}</p>
              <p class="text-kleistBlauGreen mt-2"><a href="{{item.url}}">Weiter lesen →</a></p>
            </div>
          </div>
          {% endif %}
          </a>
        </div>
      </div>
      {% else %}
      <div
        class="w-auto lg:w-[49%] xl:w-[48%] p-6 ml-4 mr-4 mb-6 lg:ml-0 lg:mr-0 rounded border-gray-200 lg:hover:bg-gray-200 bg-gray-100">
        <a href="{{item.url}}">
          <h4 class=" text-lg font-sans font-bold uppercase text-kleistBlauGreen">{{item.rubrik}}</h4>
          {% if item.bild %}
          <img class="mb-2 p-2 rounded-lg shadow-md hover:shadow-lg bg-white" src="{{item.bild}}" alt="" />
          {% endif %}
          {% if item.bildunterschrift %}
          <p class="text-xs mb-2">{{item.bildunterschrift}}</p>
          {% endif %}
          <h3 class="mt-4 mb-2 font-serif text-3xl">{{item.titel}}</h3>
          <p class="">{{item.text}}</p>
          <p class="text-kleistBlauGreen mt-2"><a href="{{item.url}}">Weiter lesen →</a></p>
        </a>
      </div>
      {% endif %}

      {% endfor %}
    </div>

    {% endif %}
  </section>

  {% include "./_includes/hvkg-about.html" %}

</div>

{% endblock %}