{% extends "default.html" %}
{% block content %}

{% set title = "Kleist-Jahrbuch" %}

<div class="container flex flex-col-reverse lg:flex-row mx-auto px-6 lg:px-0 lg:gap-32">
    <div class="lg:w-2/3 mt-12">
        <img class="hidden lg:block lg:max-w-2xl mb-12" src="/static/img/logos/kjb-logo-trans.png"
            alt="logo newsletter">
        {% include "../_includes/partials/kjb-info.html" %}
        {% set postslist = collections.kjb %}

        {% for post in postslist %}
        <article class="my-8">
            <h2 class="font-serif text-4xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                    {{ post.data.title }}
                    {% else %}
                    Untitled
                    {% endif %}
                </a>
            </h2>
            <!-- <p class="text-base leading-6 text-gray-500 mb-3">
            <time>
                {{ post.date | readableDate }}
                by
                <a>{{ post.data.author }}</a>

            </time>
        </p> -->
            {% if post.data.description %}
            <p class="text-lg text-gray-500 mb-3">
                {{ post.data.description }}
            </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Weiter lesen →
                </a>
            </p>

        </article>
        {% endfor %}
    </div>
    <div class="lg:w-96 mt-12">
        {% set subnav = subnavkjb %}
        {% include "../_includes/partials/subnav.html" %}
    </div>

</div>

{% endblock %}