<aside class="lg:block lg:w-1/5 mt-12">
    <h3 class="text-2xl text-kleistBlauGreen py-4">Kontakt zum Netzwerk</h3>
    <h4 class="text-lg">Email an:</h4>
    <p class="text-lg">
        <a class="underline" href="mailto:milena.rolka@fu-berlin.de">Milena Rolka (FU Berlin)</a><br />
        <a class="underline" href="mailto:viviane.meierdreess@fu-berlin.de">Viviane Meierdreeß (FU Berlin)</a>
    </p>

    <h4 class="text-lg mt-4">Anmeldung zum Verteiler des Kleist-Nachwuchs-Netzwerks:</h4>
    <p class="text-lg"><a class="underline"
            href="https://lists.fu-berlin.de/listinfo/Kleist-Nachwuchs-Netzwerk?&language=de">Kleist-Nachwuchs-Netzwerk</a>
    </p>
</aside>