<section>
    <div class="container mx-auto mt-6 flex flex-col lg:flex-row flex-wrap gap-4">

        {% if aufmacher.heros %}

        {% for item in aufmacher.heros %}
        <div
            class="w-auto lg:w-[49%] p-6 ml-4 mr-4 mb-6 lg:ml-0 lg:mr-0 border-x-2 rounded border-gray-200 hover:border-kleistBlauGreen hover:bg-gray-200 bg-gray-50">
            <a href="{{item.url}}">
                <h4 class=" text-lg font-sans font-bold uppercase text-kleistBlauGreen">{{item.rubrik}}</h4>
                {% if item.bild %}
                <img class="mb-2 rounded-lg shadow-md hover:shadow-lg bg-white" src="{{item.bild}}" alt="" />
                {% endif %}
                {% if item.bildunterschrift %}
                <p class="text-xs mb-2">{{item.bildunterschrift}}</p>
                {% endif %}
                <h3 class="mt-4 mb-2 font-serif text-3xl">{{item.titel}}</h3>
                <p class="">{{item.text}}</p>
                <p class="text-kleistBlauGreen mt-2">Weiter lesen →</p>
            </a>
        </div>
        {% endfor %}

        {% endif %}

    </div>
</section>