<div class="flex flex-col lg:flex-row flex-wrap gap-0">

    {% if aufmacher.heros %}

    {% for item in aufmacher.heros %}
    <div class="lg:w-[47%] p-8 mb-6 mr-6 border-x-4 rounded border-gray-200 hover:border-kleistBlauGreen bg-gray-100">
        <a href="{{item.url}}">
            <h4 class=" text-lg font-sans font-bold uppercase text-kleistBlauGreen">{{item.rubrik}}</h4>
            {% if item.bild %}
            <img class=" mb-2 rounded-lg shadow-md" src="{{item.bild}}" alt="" />
            {% endif %}
            {% if item.bildunterschrift %}
            <p class="text-xs mb-2">{{item.bildunterschrift}}</p>
            {% endif %}
            <h3 class="mt-4 mb-2 font-serif text-3xl">{{item.titel}}</h3>
            <p class="">{{item.text}}</p>
            <p class="text-kleistBlauGreen mt-2">Weiter lesen →</p>
        </a>
    </div>
    {% endfor %}

    {% endif %}

</div>