<div class="flex-shrink-0 bg-kleistBlauGrayscaleVersion">
    <footer class="container">
        <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-4">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">Gesellschaft</h2>
                <ul class="text-gray-300">
                    <li class="mb-4">
                        <a href="/kontakt/" class=" hover:underline">Kontakt</a>
                    </li>
                    <li class="mb-4">
                        <a href="/beitritt/" class="hover:underline">Beitritt</a>
                    </li>
                    <li class="mb-4">
                        <a href="/vorstand/" class="hover:underline">Vorstand</a>
                    </li>
                    <li class="mb-4">
                        <a href="/satzung/" class="hover:underline">Satzung</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">Navigation</h2>
                <ul class="text-gray-300">
                    <li class="mb-4">
                        <a href="/newsletter/" class=" hover:underline">Newsletter</a>
                    </li>
                    <li class="mb-4">
                        <a href="/kleist-preis/" class="hover:underline">Kleist-Preis</a>
                    </li>
                    <li class="mb-4">
                        <a href="/kjb/" class="hover:underline">Kleist-Jahrbücher</a>
                    </li>
                    <li class="mb-4">
                        <a href="/veranstaltungen/" class="hover:underline">Termine / Veranstaltungen</a>
                    </li>
                    <li class="mb-4">
                        <a href="/nachwuchs-netzwerk/" class="hover:underline">Kleist-Nachwuchs-Netzwerk
                    </li>
                    <li class="mb-4">
                        <a href="/aufsatzwettbewerb/" class="hover:underline">Studentischer Aufsatzwettbewerb</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">Heinrich von Kleist</h2>
                <ul class="text-gray-300">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Zur Biographie</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Zum Werk</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">Rechtliches</h2>
                <ul class="text-gray-300">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Datenschutz</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Impressum</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Haftungsausschluss</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>