<section>
    <div class="w-full  bg-kleistBlauGreen">
        <div class="container flex flex-col lg:flex-row items-center mx-auto p-6">
            <img class="w-[300px] rounded-full shadow-lg" src="/static/img/kleist-kopf-quadr.png" alt="kleist-porträt">
            <p class="p-6 text-lg text-white">Die <b>Heinrich-von-Kleist-Gesellschaft</b> ist eine internationale
                literarische und wissenschaftliche Vereinigung. Sie sieht ihre Aufgabe darin, das Werk und Leben Kleists
                durch wissenschaftliche Tagungen und Veröffentlichungen zu erschließen und die in der Gegenwart
                fortwirkenden Einflüsse seiner Dichtung durch künstlerische, insbesondere literarische Veranstaltungen
                für eine breitere Öffentlichkeit zu fördern. Die Gesellschaft wurde am 5. Mai 1960 gegründet. Ihr
                Vereinssitz ist Berlin.</p>
        </div>
    </div>
</section>