{% extends "aside.html" %}
{% block aside %}

<div>
    <img class="-ml-2" src="/static/img/logos/logo-kleist-preis-crop.png" alt="">
    <p>
        Der jährlich zu vergebende Kleist-Preis ist mit den ausgewiesenen EUR 20.000,- einer der angesehendsten
        deutschen
        Literaturpreise. Die Preissumme wird gestiftet von der Verlagsgruppe Georg von Holtzbrinck, der Beauftragten der
        Bundesregierung für Angelegenheiten der Kultur und der Medien, der Senatsverwaltung für Wissenschaft und
        Forschung
        (Berlin) und dem Ministerium für Wissenschaft, Forschung und Kultur des Landes Brandenburg.
        Jedes Jahr entscheidet eine Vertrauensperson darüber, wem der Preis zuerkannt wird.
    </p>
    <p class="mt-4">Gefördert durch</p>
    <img class="mt-4" src="/static/img/logos/logo_Holtzbrinck_Publ_Group.png" alt="">
</div>
{% endblock %}