<aside>
    <div class="">
        <h3 class=" text-xl font-bold">Kleist-Jahrbücher</h3>
        <p class="text-lg">Mit Abhandlungen zu Kleists Werken und Rezensionen zu den wichtigsten Publikationen
            geben
            einen detaillierten Überblick
            über die aktuelle Kleist-Forschung. Außerdem finden sich in den Jahrbüchern die Reden zur Verleihung des
            Kleist-Preises.
            Die aktuellen Kleist-Jahrbücher sind im Buchhandel erhältlich.
        </p>
        <p class=" mb-12">Ältere Jahrbücher der Jahre 2000–2016 können <a href="#">hier</a> heruntergeladen werden.
        </p>
    </div>
</aside>