<div class="flex-shrink-0 bg-kleistBlauGreen">
    <footer class="container">
        <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-4">
            <div class=" col-span-2">
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">Partner / Links</h2>
                <div class="grid grid-cols-2">
                    <a href="https://kleist-museum.de"><img src="/static/img/logos/logo-kleist-museum.png"
                            alt="logo-kleist-museum" width="160px"></a>
                    <div class=" ml-4">
                        <a href="https://kleist-digital.de"><img src="/static/img/logos/logo-kd.png" alt="logo-kd"
                                width="80px"></a>
                        <p class=" text-white"><a href="https://kleist-digital.de">kleist-digital.de</a> </p>
                    </div>

                </div>

            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">Förderer des Kleist-Preises</h2>
                <img class=" bg-white mb-2" src="/static/img/logos/logo-bkm.svg" alt="logo-berlin-kultur">
                <img src="/static/img/logos/logo-holtzbrinck.jpg" alt="logo-holtzbrinck-group" width="160px">
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase"> </h2>
                <div class="grid grid-rows-2 gap-3">
                    <img src="/static/img/logos/logo-mwfk.png" alt="logo-mwfk" width="100px">
                    <img src="/static/img/logos/logo-berlin-kultur.jpg" alt="logo-berlin-kultur" width="100px">
                </div>
            </div>

        </div>
    </footer>
</div>