{% set headline = "Internationaler Austausch und Gastvorträge online" %}
{% extends "aside.html" %}
{% block aside %}

<div>
    <p><i>(40-45 Minuten plus Diskussion):</i></p>
    <p>
        Die Kleist-Gesellschaft zeichnet sich durch ihren internationalen Charakter aus: Wir haben Mitglieder aus vielen
        verschiedenen Ländern dieser Welt. Um den internationalen Austausch innerhalb der Gesellschaft zu befördern,
        wollen
        wir
        daher künftig drei- bis viermal im Jahr etablierte und jüngere internationale Forscherinnen und Forscher
        einladen,
        sich
        und ihre Kleistforschungen im Rahmen eines digitalen Vortrags (via Zoom) vorzustellen. Für den Sommer haben wir
        zwei
        Forscherinnen aus Großbritannien und den USA für dieses Format gewinnen können. Alle Mitglieder der
        Kleist-Gesellschaft
        sind herzlich eingeladen, sich dazuzuschalten!
    </p>
</div>
{% endblock %}